*{padding: 0;
margin: 0;}


body{ height: 3500px}

.clr{clear: both;}


#kly{height:100vh ; 
     background-size: 100% 100%;
background-image: url(coffee-shop-5080266_1920.jpg);
color: rgb(255, 255, 255);
text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 23px;
     padding-top: 350px;
}
     
        
#kly .la { padding: 10px 25px;
border-radius: 25px;  background-color: rgba(235, 204, 164, 0.973);
margin-top: 15px;
font-size: 17px;
border-color: transparent;


}
#kly .oppo {padding: 18px;}

.our{ text-align: center;
     color: rgb(66, 47, 47);
      margin: 50px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

#menu .contain{  width: 12.5%;  
text-align: center;
float: left;    

}

 #menu .contain img{   
width: 100%;
     float: left;}

 #about .aboutus{
text-align: center;
margin: 40px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 23px;
color: rgb(31, 24, 24);
 }
 #about .hq img{float: left;}
 #about .hqcontainer { 
      width: 50%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 17px;
      float: left;

     }
    
 
  #about .hq  .lj{color: rgb(168, 81, 41);}
